
@media only screen and (max-width: 600px){
    #mainnavbar{
        display: flex;
        padding-top: 20px;
    }
    #mainnavbar>div:first-child{
        display: none
    }
}
@media only screen and (min-width: 601px){
    #mainnavbar{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #mainnavbar>div:first-child{
        display: flex;
        justify-content: space-around;
    }
}
@media only screen and (min-width: 992px){
    #mainnavbar{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: gray;
    }
    #mainnavbar>div:first-child{
        display: flex;
        justify-content: space-around;
    }
}
#mainnavbar{
    position: fixed;
    background-color:mediumaquamarine;
    width: 100%;
}
#mainnavbar>div:first-child>h1{
    color: white;
}
#mainnavbar>div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
}
#mainnavbar>div:nth-child(2)>button{
    background-color:mediumaquamarine;
    color: white;
    border: none;
}
#mainnavbar>div:nth-child(2)>a>button{
    background-color:mediumaquamarine;
    border: none;
    color: white;
    margin-bottom: 5px;
}
#mainnavbar>div:nth-child(2)>button:hover{
    color: red;
    transform: scale(1.1,1.1);
    text-decoration: underline;
}
#mainnavbar>div:nth-child(2)>a>button:hover{
    color: red;
    transform: scale(1.1,1.1);
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
  }
